name: Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'adopt'

    - name: Build with Gradle
      run: ./gradlew build

    - name: Upload Forge build artifacts
      uses: actions/upload-artifact@v4
      with:
        name: forge-build
        path: forge/build/libs/

    - name: Upload Fabric build artifacts
      uses: actions/upload-artifact@v4
      with:
        name: fabric-build
        path: fabric/build/libs/
